# Smoking is bad

In [538]:
# TODO: install all the necessary packages
# Import libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from pathlib import Path

In [539]:
# TODO: load the data using the pathlib library to create the path to your data
# Define the path to your dataset
data_path = Path("data/smoking_data.csv") 

# Load the dataset
df = pd.read_csv(data_path)
df.head()  # Display the first few rows to verify loading

   Unnamed: 0 outcome smoker  age  gender   salary
0           0   Alive    Yes   23  female   7286.0
1           1   Alive    Yes   18    male      NaN
2           2    Dead    Yes   71    male      NaN
3           3   Alive     No   67    male      NaN
4           4   Alive     No   64  female  20123.0

In [540]:
# TODO: what are the dimensions of the data frame?
df.shape
# The data frame has 1,314 rows and 6 columns

(1314, 6)

In [541]:
# TODO: use .describe() on your data frame: what do you notice about the string columns?
df.describe(include='all')

         Unnamed: 0 outcome smoker          age gender        salary
count   1314.000000    1314   1314  1314.000000   1314    614.000000
unique          NaN       2      2          NaN      2           NaN
top             NaN   Alive     No          NaN   male           NaN
freq            NaN     945    732          NaN    693           NaN
mean     656.500000     NaN    NaN    46.920091    NaN  48737.265472
std      379.463437     NaN    NaN    17.432027    NaN  28575.395264
min        0.000000     NaN    NaN    18.000000    NaN   1215.000000
25%      328.250000     NaN    NaN    32.000000    NaN  24112.250000
50%      656.500000     NaN    NaN    46.000000    NaN  48692.000000
75%      984.750000     NaN    NaN    61.000000    NaN  72946.250000
max     1313.000000     NaN    NaN    84.000000    NaN  99677.000000

In [542]:
# The string columns each have two unique values, making them binary variables

In [543]:
# TODO: do not forget to check the null values
df.isnull().sum()

Unnamed: 0      0
outcome         0
smoker          0
age             0
gender          0
salary        700
dtype: int64

In [544]:
# The salary column has 700 missing values

In [545]:
# TODO: prepare your data frame so that you can work with

# Calculate the mean salary for each gender
mean_salaries = df.groupby('gender')['salary'].mean()

print(mean_salaries)

# Impute missing salary values with the gender-specific means
df['salary'] = df.apply(
    lambda row: mean_salaries[row['gender']] if pd.isnull(row['salary']) else row['salary'],
    axis=1
)

gender
female    50773.929329
male      46995.948640
Name: salary, dtype: float64

In [546]:
# Drop unnecessary indexing column

df.drop(columns=['Unnamed: 0'], inplace=True)

In [547]:
# Convert 'smoker', 'outcome', and 'gender' to categorical types
df['smoker'] = df['smoker'].astype('category')
df['outcome'] = df['outcome'].astype('category')
df['gender'] = df['gender'].astype('category')

In [548]:
# Check the data types and if missing values were addressed
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1314 entries, 0 to 1313
Data columns (total 5 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   outcome  1314 non-null   category
 1   smoker   1314 non-null   category
 2   age      1314 non-null   int64
 3   gender   1314 non-null   category
 4   salary   1314 non-null   float64
dtypes: category(3), float64(1), int64(1)
memory usage: 24.9 KB

In [549]:
# Check descriptive statistics for anomalies

df.describe(include='all')

       outcome smoker          age gender        salary
count     1314   1314  1314.000000   1314   1314.000000
unique       2      2          NaN      2           NaN
top      Alive     No          NaN   male           NaN
freq       945    732          NaN    693           NaN
mean       NaN    NaN    46.920091    NaN  48781.432664
std        NaN    NaN    17.432027    NaN  19573.600664
min        NaN    NaN    18.000000    NaN   1215.000000
25%        NaN    NaN    32.000000    NaN  46995.948640
50%        NaN    NaN    46.000000    NaN  46995.948640
75%        NaN    NaN    61.000000    NaN  50773.929329
max        NaN    NaN    84.000000    NaN  99677.000000

In [550]:
# Explore unique values to ensure as expected

print(df['smoker'].unique())
print(df['gender'].unique())
print(df['outcome'].unique())

['Yes', 'No']
Categories (2, object): ['No', 'Yes']
['female', 'male']
Categories (2, object): ['female', 'male']
['Alive', 'Dead']
Categories (2, object): ['Alive', 'Dead']

In [551]:
# Create binary feature for whether a person is a smoker

df['smokes'] = df['smoker'].apply(lambda x: 1 if x == 'Yes' else 0).astype(int)

In [552]:
# Create binary feature for whether a person is alive

df['alive'] = df['outcome'].apply(lambda x: 1 if x == 'Alive' else 0).astype(int)

In [553]:
print(df.shape)
print(df.head())

(1314, 7)
  outcome smoker  age  gender       salary  smokes  alive
0   Alive    Yes   23  female   7286.00000       1      1
1   Alive    Yes   18    male  46995.94864       1      1
2    Dead    Yes   71    male  46995.94864       1      0
3   Alive     No   67    male  46995.94864       0      1
4   Alive     No   64  female  20123.00000       0      1

## Smoking analysis
Let's first check what your cousin did.

In [554]:
# TODO: Reimplement the small code snippet described in the problem set instructions.
df.groupby('smokes').agg(prob=("alive", np.mean)).round(3)

C:\Users\joesh\AppData\Local\Temp\ipykernel_3556\1115510156.py:2: FutureWarning: The provided callable <function mean at 0x000001DA440E11C0> is currently using SeriesGroupBy.mean. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "mean" instead.
  df.groupby('smokes').agg(prob=("alive", np.mean)).round(3)

         prob
smokes
0       0.686
1       0.761

You should get the same results.

# Is smoking really good?
Now it is up to you to run the analysis further and check what could be underlying your cousings results.